body {
    font-family: Arial, sans-serif;
    /* align-items: center; */
    justify-content: center;
    margin: 0px;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

header, nav, section, footer {
    /* margin: 0px; */
    padding: 20px;
    
    
}

section {
    padding-top: 100px; /* Ajoutez un espace au haut de la page pour éviter que le contenu ne soit caché derrière la barre de navigation */
}

nav {
    position: fixed;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(55, 105, 220);
}

nav h1 {
    margin: 0; /* Ajustez selon vos besoins */
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0; /* Supprime la marge par défaut */
}

nav ul li {
    margin-right: 10px;

}

nav ul li a {
    text-decoration: none;
    font-size: 22px;
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Roboto', serif;
    font-weight: bold;
    color: black;
}

a:hover{
    color: rgb(255, 255, 255);
}


    
footer {
    position: relative;
    font-size: 0.8em;
    text-align: center;
    bottom: 0px;
    
}

section p {
    width: 1200px;
    font-size: 18px;
    /* border: 2px solid red; */
}



/* #manipulation d'image */
.image1{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    
    
    /* border: 2px solid rgb(105, 122, 231); */
}

.image1 img{
    width: 400px;
    padding: 200px;
    
}

.image2{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    
    
    /* border: 2px solid rgb(105, 122, 231); */
}

.image2 img{
    width: 30%;
    padding: 10px;
}

.image3{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    
    
    /* border: 2px solid rgb(105, 122, 231); */
}

.image3 img{
    width: 350px;
    padding: 50px;
}

.label{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title h1 {
    font-size: 50px;
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Roboto', serif;
}

.profils{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* flex-wrap: wrap; */

    border-radius: 20px;
    padding: 10px;
    
}

.profile{
    border: 4px solid rgb(52, 52, 52);
    width: 200px;
    height: 300px;
    border-radius: 15px;
    overflow: hidden; /* Pour s'assurer que rien ne dépasse */
    
}

.profile img{
    width: 100%;
    height: auto;
}

.profiles h4{
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Roboto', serif;
}

.profile-board{
    display: flex;
    flex-direction: column;
    align-items: center;

}


/* Arrière-plan pour la page d'accueil */
.home-background {
    background-image: url('./img/home_pic.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Arrière-plan pour la page de contexte */
.context-background {
    background-image: url('./img/pages_pic.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text-container {
    padding-left: 200px; /* Ajustez la valeur selon vos besoins */
}
